<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href="/bootstrap/css/bootstrap.css"/>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/javascripts/main.js"></script>
</head>
<body>
<div class="container">


    <!-- index header -->
    <div id="header">
        <h1><%= title %></h1>

        <p>Welcome to <%= title %></p>
    </div>

    <!-- api view -->
    <div id="api_wrap">
        <div class="row">
            <div class="col-xs-2">Name</div>
            <div class="col-xs-2">Type</div>
            <div class="col-xs-6">Desc</div>
            <div class="col-xs-2">Tool</div>
        </div>
        <div id="api_view">
            <% for(var i = 0; i < data.length; i++) { %>
            <div class="api_view_content" style="margin-bottom:30px;border:1px solid darkgray">
                <div class="row api_view_body">
                    <div class="col-xs-2 api_view_name">
                        <%= data[i].name %>
                    </div>
                    <div class="col-xs-2 api_view_type">
                        <%= data[i].type %>
                    </div>
                    <div class="col-xs-6 api_view_desc">
                        <%= data[i].desc %>
                    </div>
                    <div class="col-xs-2">
                        <span class="glyphicon glyphicon-send api_view_send" ></span>
                        <span class="glyphicon glyphicon-pencil api_update" api_id="<%= data[i]._id %>"></span> <span
                                class="glyphicon glyphicon-remove api_del" api_id="<%= data[i]._id %>"></span>
                    </div>
                </div>
                <div class="api_view_foot">
                    <div class="api_view_request"></div>
                    <div class="api_view_response"></div>
                    <!--<button class="glyphicon glyphicon-plus api_view_add"></button>-->
                    <!--<button class="glyphicon glyphicon-minus api_view_minus"></button>-->
                </div>
            </div>
            <% } %>
        </div>
    </div>


    <div id="add_btn">
        <button class="btn btn-default">Add</button>
        <button class="btn btn-default" style="display:none">Confirm</button>
        <button class="btn btn-default" style="display:none">Cancel</button>
    </div>

    <!-- update modal -->
    <div class="modal fade" id="modal_update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Api Update</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="update_name" class="col-xs-4">Name: <input></div>
                        <div id="update_type" class="col-xs-2">Type: <select>
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                                <option value="PUT">PUT</option>
                                <option value="DELETE">DELTE</option>
                            </select></div>
                        <div class="col-xs-12">
                            <div id="update_desc">Desc: <textarea style="width:100%"></textarea></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 api_view_request"></div>
                        <div class="col-xs-1 glyphicon glyphicon-plus api_view_add"></div>
                        <div class="col-xs-1 glyphicon glyphicon-minus api_view_minus"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Update</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>